*.pyc
*.log
*.db
test.*
*.ipynb

__pycache__/
.idea/
env/
.DS_Store
tmp_dwh/
tmp/
info/
data_analysis/
.ipynb_checkpoints/
.vscode/
data_for_analysis/

settings.py
lectures.py
config.py
playground.py
playground.md
